<div class="col-md-11">
<h1>Over mij</h1>

<p>Ik ben Angeliek Slot en ik woon in Drouwenerveen (Dr). Daar heb ik mijn twee KWPN-paarden waarmee ik de opleiding aan de NCSAH volg, aan huis staan.</p>

<p>In 2010 kwam ik terecht bij Equiscio/NCSAH nadat ik helemaal was vastgelopen met mijn destijds 5-jarige ruin Alito (Solitair X Nobility). Vanaf die tijd ben ik me veel bewuster geworden van alles wat invloed heeft op de gezondheid, het welzijn en de prestaties van het paard.</p>

<ol>
	<li>In 2013 heb ik met Alito mijn diploma Basic Trainer behaald aan de NCSAH.</li>
	<li>Met mijn merrie Beezie (Aachen X Sandro) ben ik nu bezig met de 2-jarige vervolgopleiding tot School Trainer.</li>
</ol>

<p>Ondertussen ben ik het gaan beschouwen als mijn missie om een bijdrage te leveren in het overdragen van deze kennis. Door op deze manier iets terug te geven hoop ik andere ‘zoekende’ ruiters te kunnen inspireren.</p>

<p>Bij de NCSAH heb ik ook geleerd om met de meer gecompliceerde paarden van chaos naar structuur te komen en meer rust, duidelijkheid en harmonie in het trainen te krijgen. Deze kennis wil ik graag overbrengen aan andere ruiters die vastlopen met hun paard of gewoon met meer inzicht willen leren rijden.</p>

<p>Door goed onderbouwde instructie, een positieve benadering en oog voor het hele plaatje rondom het paard, inclusief zijn ruiter, kunnen veel problemen en frustraties voorkomen worden.
Omdat ik zoveel plezier beleef aan het lesgeven ben ik in april 2014 met Horsability gestart. Op de website van mijn bedrijf www.horsability.nl kun je meer lezen over mijzelf, mijn ervaring en mijn paarden.</p>
</div>